.elaina-btn {
  a {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: var(--border-raduis);
    background: var(--select-color);
    transition: all 0.3s;
  }

  a:hover {
    background: var(--theme-primary);
    box-shadow: 0 0 1px #ffffff;
  }
}

.elaina-btn-group {
  padding: 0 0 12px 0;
  display: flex;
  flex-wrap: wrap;

  .elaina-btn {
    padding-right: 6px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.elaina-container-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.elaina-container-column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.elaina-song-info {
  padding: 0 10%;

  .head.j-fflag {
    padding: 0;
    .inf.j-flag {
      .title {
        text-align: left;
        
        span.tag-wrap {
          display: none;
        }
      }
  
      .info {
        ul.playfrom.f-cb {
          display: flex;
          flex-direction: column;
          align-items: flex-start !important;
          line-height: initial !important;
  
          li.f-thide.f-ust {
            max-width: 100%;
            font-size: 0;
  
            a {
              font-size: 24px;
              transition: all 0.3s;
            }
  
            a:hover {
              color: var(--theme-primary) !important;
              text-shadow: var(--theme-primary-font-shadow);
            }
  
            a.f-thide.album {
              font-size: 18px;
            }
          }
  
          li.f-thide.f-ust.f-ust1 {
            display: none;
          }
        }
  
        h2.alias.u-tit.f-ff2.f-thide.s-fc4 {
          text-align: left;
          line-height: initial;
          font-size: 18px;
  
          b {
            color: #ffffffbf !important;
            font-weight: 900 !important;
          }
        }
      }
    }
  }
}

.elaina-animation {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  -webkit-transform-origin: 0 100%;
  -webkit-transition: opacity 0.2s linear, -webkit-transform 0.2s ease-out;
}

.elaina-animation-show {
  opacity: 1;
  -webkit-transform: none;
  -webkit-transition: all 0.3s ease-out;
}