.m-tab li.z-selected a::after {
  content: none !important;
}

section.g-sd {
  nav.m-nav.m-nav-s {
    li.mv,
    li.look,
    span.heartbeat.f-cp {
      display: none !important;
    }
  }
}

.g-single {
  .g-singlec {
    .g-sd2.recommend.j-flag {
      display: none;
    }
  }
}

div#page_pc_home {
  .m-banner {
    display: none !important;
  }
}