@import "./root.less";
@import "./disable.less";

body#music-163-com {
  backdrop-filter: blur(5px);
  background: var(--gradient-bg);
}

body.mq-playing {
  header.g-hd.s-theme-bgc1 {
    background: none;
  }
}

header.g-hd.s-theme-bgc1,
section.g-sd,
div#main-player {
  background-color: var(--background-overlay);
  border: none;
}

section.g-sd {
  width: 200px;
  bottom: 72px;
}

section.g-sd::before {
  content: '';
  position: absolute;
  height: var(--border-raduis);
  width: var(--border-raduis);
  left: 200px;
  background: radial-gradient(calc(var(--border-raduis) * 2) at right bottom, transparent 50%, var(--background-overlay)50%);
}

section.g-sd::after {
  content: '';
  position: absolute;
  height: var(--border-raduis);
  width: var(--border-raduis);
  left: 200px;
  background: radial-gradient(calc(var(--border-raduis) * 2) at right top, transparent 50%, var(--background-overlay)50%);
  top: calc(100% - var(--border-raduis));
}

.m-tabwrap {
  background: none;
  padding: 24px 30px;
}

section.g-single {
  background-image: url(http://pic.majokeiko.com) !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ff6b4a2e;
  bottom: 72px;

  .g-single-bd {
    height: 100%;

    .bg.j-flag.z-show {
      background: #331a1540 !important;
    }
  }
}

ul.m-tab.j-flag {
  width: 46%;
  height: auto;
  padding: 8px;
  background-color: var(--background-overlay);
  border-radius: var(--border-raduis);

  li {
    a {
      font-size: 16px;
      padding: 8px 12px;
      border-radius: var(--border-raduis);
      transition: all 0.3s;
    }

    a:hover {
      background: var(--select-color);
      box-shadow: 0 0 1px #ffffff;
    }
  }

  li.z-selected a {
    font-size: 16px;
    background: var(--theme-primary);
    box-shadow: var(--theme-primary-shadow);
  }
}

section.g-mn.one.z-tab-scroll {
  bottom: 72px;
}

.g-recmdwrap {
  margin-top: 98px;
}

section.g-sd {
  nav.m-nav.m-nav-s {

    li.gd.j-flyg,
    li.j-flxg,
    li.j-flag {
      a {
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 16px;
        border-radius: var(--border-raduis);
        transition: all 0.3s;
      }

      a:hover {
        background: var(--select-color);
        box-shadow: 0 0 1px #ffffff;
      }
    }

    li.gd.j-flyg.z-sel a,
    li.j-flxg.z-sel a,
    li.j-flag.z-sel a {
      font-size: 16px;
      background: var(--theme-primary);
      box-shadow: var(--theme-primary-shadow);
    }
  }
}

div.u-arrlay {
  margin-top: 0;
  top: 84px;
  border-radius: var(--border-raduis);
  background-color: var(--background-black);

  .hotlst li>a:before {
    color: #ffffff;
  }
}

div.m-layer {
  background-color: var(--background-black);

  .z-bar,
  .lyct,
  .zcnt {
    background-color: var(--background-black);
  }
}

div.j-flag.u-tab2.u-settab {
  background-color: var(--background-overlay);
  height: 54px;
  padding: 0px 12px;
  border-radius: 32px;

  li {
    padding: 10px 0;

    a {
      font-size: 16px;
      padding: 8px 12px;
      margin: 0;
      height: auto;
      line-height: inherit;
      border-radius: var(--border-raduis);
      transition: all 0.3s;
    }

    a:hover {
      background: var(--select-color);
      box-shadow: 0 0 1px #ffffff;
    }

    a.z-sel {
      font-size: 16px;
      background: var(--theme-primary);
      box-shadow: var(--theme-primary-shadow);
    }

    a.z-sel:before {
      content: none;
    }
  }
}

.m-comment.m-comment-play {
  margin: 0 96px;
}

.m-card.m-emts.z-show.m-card-arrow-bottom-left {
  div {
    background-color: var(--background-black);
  }
}

ul.m-list.m-list-recmd.m-list-flow {
  li {
    .cvr.u-cover.u-cover-recmd {
      border-radius: var(--border-raduis) var(--border-raduis) 0 0;

      .lnk {
        border-radius: 0px !important;
      }
      
      .ply {
        background: none;
      }

      .ci.f-pa {
        padding: calc(var(--border-raduis) / 2);
      }
    }

    .desc {
      background-color: #2424243b;
      height: 48px;
      margin-bottom: 0px !important;
      border-radius: 0 0 var(--border-raduis) var(--border-raduis);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px 14px;

      h3 {
        padding: 0;

        b {
          font-size: 14px !important;
          font-weight: 700 !important;
        }
      }
    }
  }
}