@import "./root.less";
@import "./disable.less";
@import "./skin.less";
@import "./common.less";
@import "./theme/components.less";
@import "./custom/songNameOnTop.less";
@import "./custom/themePlayer.less";

body.mq-playing {
  header.g-hd.s-theme-bgc1 {
    background: none;
  }

  .m-leftbox {
    display: none;
  }
}

header.g-hd.s-theme-bgc1,
section.g-sd,
div#main-player {
  background-color: var(--background-overlay);
  border: none;

  div.brtAndEnvSoundList.j-brtlist:before,
  .m-player .brt .brtlist:before {
    border-color: var(--background-black) transparent transparent var(--background-black) !important;
    background-color: var(--background-black) !important;
  }

  div.brtAndEnvSoundList.j-brtlist,
  div.u-arrlay.m-schlist.j-flag.j-search-body,
  .brtlist.j-brtlist {
    background: var(--background-black) !important;
  }
}

section.g-sd {
  width: 200px;
  bottom: 72px;
}

section.g-sd::before {
  .common-section-g-sd();
  background: radial-gradient(calc(var(--border-raduis) * 2) at right bottom, transparent 50%, var(--background-overlay)50%);
}

section.g-sd::after {
  .common-section-g-sd();
  background: radial-gradient(calc(var(--border-raduis) * 2) at right top, transparent 50%, var(--background-overlay)50%);
  top: calc(100% - var(--border-raduis));
}

.m-tabwrap {
  background: none;
  padding: 24px 30px;
}

ul.m-tab.j-flag {
  width: 480px;
  height: auto;
  padding: 8px;
  background-color: var(--background-overlay);
  border-radius: var(--border-raduis);

  li {
    a {
      padding: 8px 12px;
    }

    .common-tab-li();
  }

  li.z-selected a {
    .common-tab-li-selected();
  }
}

section.g-mn.one.z-tab-scroll {
  bottom: 72px;
}

.g-recmdwrap {
  margin-top: 98px;
}

section.g-sd {
  nav.m-nav {

    li.gd.j-flyg,
    li.j-flxg,
    li.j-flag {
      a {
        margin-top: 2px;
        margin-bottom: 2px;
      }

      .common-tab-li();
    }

    li.gd.j-flyg.z-sel a,
    li.j-flxg.z-sel a,
    li.j-flag.z-sel a {
      .common-tab-li-selected();
    }

    li.fsection a {
      padding: 0px 10px 0px 30px;
    }
  }
}

div.u-arrlay {
  margin-top: 0;
  top: 84px;
  border-radius: var(--border-raduis);
  background-color: var(--background-black);

  .hotlst li>a:before {
    color: #ffffff;
  }
}

div.m-layer {
  background-color: var(--background-black);

  .z-bar,
  .lyct,
  .zcnt {
    background-color: var(--background-black);
  }
}

div.j-flag.u-tab2.u-settab {
  background-color: var(--background-overlay);
  height: 54px;
  padding: 0px 12px;
  border-radius: 32px;

  li {
    padding: 10px 0;

    a {
      padding: 8px 12px;
      margin: 0;
      height: auto;
      line-height: inherit;
    }

    .common-tab-li();

    a.z-sel {
      .common-tab-li-selected();
    }

    a.z-sel:before {
      content: none;
    }
  }
}

.m-card.m-emts.z-show.m-card-arrow-bottom-left {
  div {
    background-color: var(--background-black);
  }
}

ul.m-list.m-list-recmd.m-list-flow {
  li {
    .cvr.u-cover.u-cover-recmd {
      border-radius: var(--border-raduis) var(--border-raduis) 0 0;

      .lnk {
        border-radius: 0px !important;
      }

      .ply {
        background: none;
      }

      .ci.f-pa {
        padding: calc(var(--border-raduis) / 2);
      }
    }

    .desc {
      .common-desc();
    }
  }
}

.m-newSongTip {
  background-color: var(--background-black);
}

nav.u-tab2.f-cb.f-ff2.j-flag {
  ul.j-flag {
    background-color: var(--background-overlay);
    height: 54px;
    padding: 0px 12px;
    border-radius: 32px;

    li {
      padding: 10px 0;

      a {
        padding: 8px 12px;
        margin: 0;
        height: auto;
        line-height: inherit;
      }

      .common-tab-li();

      a.z-sel {
        .common-tab-li-selected();

        span.j-flag {
          font-size: 12px !important;
        }
      }

      a.z-sel:before {
        content: none;
      }
    }
  }
}

.m-playlist {
  top: auto !important;
  height: 500px;
  background-color: var(--background-black);
  border-radius: var(--border-raduis) var(--border-raduis) 0 0;

  .src {
    background-color: #ffffff;
  }
}

.m-player {
  background-color: var(--background-overlay);
  border: none;

  .prg.prg-ply.jj-flag {
    padding: 2px 0 !important;
    top: 49px !important;

    span.has,
    span.download.j-flag,
    span.track.j-flag {
      height: 10px !important;
      border-radius: 5px !important;
    }

    span.download.j-flag {
      top: 2px !important;
    }

    span.track.j-flag {
      padding: 0 !important;
      top: 2px !important;
      background: rgba(0, 0, 0, 0.1) !important;
    }

    span.has {
      background: var(--theme-primary-notransparency) !important;

      .ctrl.j-flag::before {
        content: none !important;
      }
    }

    span.has:hover {
      height: 10px !important;
      border-radius: 5px !important;
    }
  }
}

.m-player.z-shadow {
  backdrop-filter: blur(32px);
}

.m-fm {
  .fmplay .covers::after {
    background: none;
  }

  .fmplay .btn {
    background: var(--theme-primary);
    box-shadow: var(--theme-primary-shadow);
    transition: all 0.3s;
  }
}

.cvr.f-pa.u-cover.u-cover-fm.j-curr,
.cvr.cvr-next.u-cover.u-cover-fm.f-pa.j-next {
  border-radius: var(--border-raduis);
}

span.playbtn.f-pa.j-flag {
  background: none;

  svg.play {
    fill: var(--theme-primary) !important;
  }
}

.sc-fzpkJw.hctKJM.j-flag.text {
  border: none;
}

.u-playinglocation {
  background: none;
}

.m-tool .u-tip {
  background: none;
}

ul.m-list.m-list-radar.m-list-radar-single.m-list-flow {
  width: calc(200% + 420px) !important;
}

ul.m-list.m-list-recmd,
ul.m-list.m-list-radar {
  .cvr.u-cover.u-cover-list {
    border-radius: var(--border-raduis) var(--border-raduis) 0 0 !important;

    span.ply.f-pa.f-cp {
      background: none;
    }

    img.real {
      border-radius: var(--border-raduis) var(--border-raduis) 0 0;
    }

    .ci.f-pa {
      padding: calc(var(--border-raduis) / 2);
    }

    a {
      border-radius: var(--border-raduis) var(--border-raduis) 0 0 !important;
    }
  }

  .desc {
    .common-desc();
  }
}

nav.u-tab2.f-ff2.f-cb {
  ul:nth-child(1) {
    background-color: var(--background-overlay);
    height: 54px;
    padding: 0px 12px;
    border-radius: 32px;

    li {
      padding: 10px 0;

      a {
        padding: 2px 12px;
        margin: 0;
        height: auto;
      }

      .common-tab-li();

      a.z-sel {
        .common-tab-li-selected();
      }

      a.z-sel:before {
        content: none;
      }
    }
  }
}

body.mq-playing-scroll {
  section.g-single {
    div#id-single {
      .g-singlec-ct.j-fflag {
        top: 60px;
      }
    }
  }
}