:root {
  --gradient-bg: linear-gradient(45deg, #ee775226, #e73c7e1f, #83deff7a);
  --background-overlay: #2424243b;
  --background-black: #282828;
  --font-color: #ffffff;
  --border-raduis: 24px;
  --select-color: #1d1d1d70;
  --theme-primary: #ff1958a3;
  --theme-primary-notransparency: #f85f89;
  --theme-primary-shadow: 0 0 3px #bc92a5;
  --theme-primary-font-shadow: 0 0 1px #ff0073;
}

* {
  color: var(--font-color) !important;
  font-weight: 700;
  text-shadow: 0 0 1px rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-track {
  background: none !important;
}

html {
  .common-bg();
}

svg {
  fill: var(--font-color) !important;
}

.webp {
  background: #ffffff !important;
}

.m-mask {
  background-color: var(--background-overlay);
}

.g-setHd,
.g-sd-set,
.g-mn-set {
  background: none;
}

.g-mn-set {
  top: 140px;
}

.u-select {

  .select,
  .sltwrap,
  .value {
    background-color: var(--background-overlay);
  }
}

.u-txt {
  border-radius: var(--border-raduis);
  background-color: var(--background-overlay);
}

.g-singlec-comment,
.g-singlec-comment-detail,
.g-singlec-comment-top {
  background-color: var(--background-overlay);
  backdrop-filter: blur(5px);
}

.g-singlec-comment:hover,
.g-singlec-comment-detail:hover,
.g-singlec-comment-top:hover {
  background-color: var(--theme-primary);
  box-shadow: var(--theme-primary-shadow);
}

.textarea {
  textarea::-webkit-input-placeholder {
    color: #cecece !important;
  }
}

.u-atsuggest {
  border-radius: var(--border-raduis);
  background-color: var(--background-black);
}

.m-list-recmd li,
.m-list-excmv li,
.m-list-radar li,
.m-list-artist li {
  width: 25%;
  padding: 8px;
}

.m-plylist .itm:before {
  color: #ffffff;
}