.mq-offline .m-plylist .itm.z-hascache .s-fc1,
.m-plylist .itm.z-cloudlocal .s-fc1,
.m-plylist .itm.z-hasdown .s-fc1,
.m-plylist .itm.z-haslocal .s-fc1,
body:not(.mq-offline) .m-plylist .itm.z-hascloud .s-fc1,
.m-drank li.z-cloudlocal .s-fc1,
.mq-offline .m-tblist .itm.z-hasdown .s-fc1,
.mq-offline .m-tblist .itm.z-haslocal .s-fc1,
.mq-offline .m-tblist .itm.z-hascache .s-fc1 {
  color: var(--theme-primary) !important;
  text-shadow: var(--theme-primary-font-shadow);
}

.m-playlist li.z-cloudlocal .tit,
.m-playlist li.z-hasdown .tit,
.m-playlist li.z-haslocal .tit,
.m-playlist li.z-hascloud .tit,
.m-plylist-history li.z-cloudlocal .tit,
.m-plylist-history li.z-hasdown .tit,
.m-plylist-history li.z-haslocal .tit,
.m-plylist-history li.z-hascloud .tit,
.mq-offline .m-playlist li.z-hascache .col-2 .tit,
.mq-offline .m-plylist-history li.z-hascache .col-2 .tit {
  color: var(--theme-primary) !important;
}