// 扬了侧边栏MV
body#music-163-com.client-elaina-theme.client-remove-nav-video {
  nav.m-nav.m-nav-s div.nav {
    ul.sys.firstlist {
      li.mv {
        display: none;
      }
    }
  }
}

// 扬了侧边栏直播
body#music-163-com.client-elaina-theme.client-remove-nav-look {
  nav.m-nav.m-nav-s div.nav {
    ul.sys.firstlist {
      li.look {
        display: none;
      }
    }
  }
}

// 高对比度文字
body#music-163-com.client-elaina-theme.client-font-high-contrast {
  // 全部文字元素加上阴影
  div#x-g-mn * {
    text-shadow: #00000096 0 0 1px;
  }
}